<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/index.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Uploader</title>
</head>
<body>
<script>
function upload() {
    window.location.href = "/upload";
}
</script>  
<div id="inner">
   <div class="logo">
       <span class="s">S</span>
       <span class="c">c</span>
       <span class="r">r</span>
       <span class="a">a</span>
       <span class="p">p</span>
       <span class="e">e</span>
       <span class="rz">r</span>
   </div>
<form action="/search" method="get">
  <input type="text" placeholder="Device" id="query" name="query"><br>
  <input type="button" value="Spreadsheet" onclick='upload();'>
  <input type="submit" value="Search">
</form>
</div>
</body>
</html>
